source https://api.nuget.org/v3/index.json

nuget Giraffe.Razor 0.1.0-beta-100
nuget Microsoft.AspNetCore.Authentication.Cookies >= 2.0.0
nuget Microsoft.AspNetCore.Server.IISIntegration >= 2.0.0
nuget Microsoft.AspNetCore.Server.Kestrel >= 2.0.0
nuget Microsoft.AspNetCore.StaticFiles >= 2.0.0
clitool Microsoft.DotNet.Watcher.Tools 2.0.0
nuget Microsoft.Extensions.Logging.Console >= 2.0.0
nuget Microsoft.Extensions.Logging.Debug >= 2.0.0